.overlay {
    height: auto;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    height:100%;
    text-align: center;
    margin-top: 30px;
}

.left {
    width: 35%;
    float: left;
}

.right {
    width: 35%;
    float: right;
}

.mid {
    width: 23%;
    float: left;
}

.mid input {
    width: 50%;
    text-align: center;
}

label {
    display: block;
    color: white;
    font-size: 16px;
}
.subOverlay {
    height: auto;
    width: 0;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.subbtn {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: orange;
    display: block;
    transition: 0.3s;
    position: absolute;
    top: 5px;
    left: 30px;
    font-size: 30px !important;
}

.penOverlay {
    height: auto;
    width: 0;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay a, .closebtn {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}


input {
    margin: 26px;
    font-size: 20px;
    color: black;
    display: block;
}

p {
    font-size: 26px;
    color: white;
}

.overlay a:hover, .overlay a:focus {
    color: gray;
}

.closebtn {
    position: absolute;
    top: 5px;
    right: 30px;
    font-size: 30px !important;
}

@media screen and (max-height: 400px) {
    label {
        font-size: 12px;
    }
    
    .overlay a, .subOverlay p {
    font-size: 20px;
    margin: 14px;
    }

    input {
    margin: 14px;
    font-size: 14px;
    }

    .closebtn, .subbtn {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 525px) {
    label {
        font-size: 12px;
    }
    
    .overlay a, .subOverlay p {
    font-size: 20px;
    margin: 14px;
    }

    input {
    margin: 14px;
    font-size: 14px;
    }

    .closebtn, .subbtn {
        font-size: 20px !important;
    }
}

}
