

.left {
  float: left;
}

.right {
  float: right;
}

.sets {
  margin-right: 0px;
}

.num {
  font-size: 12px;
  width: 50px;
  margin-left: 6em;
}

.team {
  width: 132px;
  margin-right: 0px;
}
